/*
	Author:Isuru Sameera Sandaruwan
			Faculty of Engineering
			University of Peradeniya
*/


/* --------------------------------------
   Layout
   -------------------------------------- */
body{
    background-color: none;
}

#myCarousel{
    margin-top:80px;
    
    
}



.jumbotron{
    background-color: white;
    
    
}
.about_bg_image{
    
   background-image: url(../../images/uni.jpg);
    background-size: cover;
    height: 300px;
    text-align: center;
    padding-top: 200px;

}


.SeeMore {
    margin-left: 10px;
    margin-bottom: 10px;
}

.custom_logo {
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 0px;
    height: auto;
    width: auto;
    content: url(../../images/logo.png) no-repeat;
}

.custom_main_menu li a {
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.custom_main_menu {
    margin-bottom: 10px;
    padding: 0;
    margin-top: 0;
}

.custom_nav_items {
    /*background-color: black;*/
    height: 20px;
}

.custom_navbar {
    height: 105px;
    border: 0px;
}

.navbar .divider-vertical {
    height: 20px;
    margin: 0;
    margin-top: 10px;
    border-left: 1px solid #079AEA;
    border-right: 0px solid #079AEA;
    border-color: #079AEA;
}

.divider-vertical-footer {
    height: 20px;
    margin: 30px 9px 0;
    border-left: 1px solid #079AEA;
    border-right: 0px solid #079AEA;
}

.custom_nav_items_border {
    margin-bottom: 0;
    margin-top: 0;
}

.active {
    color: red;
}

.custom_navbar {
    border: 0px;
    background-color: black;
}

.menu_down {
    margin: 0;
}

.menu_color {
    color: #079AEA;
}

html,
body {
    height: auto;
}


/*
html, body {
	height:100%;
	margin:0;
	padding:0;
}  
  */


/*custom footer styles*/

.foot_align_right {
    text-align: right;
}

.foot_align_left {
    text-align: left;
    padding-left: 25px;
}

.foot_align_right a {
    padding-right: 5px;
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-color: white;
}

.no_border {
    backface-visibility: hidden;
}

.custom_footer {
    background-color: black;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 1px;
    height: auto;
    color: #079AEA;
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom_footer_container {
    border: 5px;
    padding: 0px;
    position: relative;
}

.right-side {
    float: none;
    display: table-cell;
    border: 0px solid;
    border-right-width: 1px;
    border-color: white;
}

.media_heading {
    color: #079AEA;
}

.media_head {
    padding-left: 10px;
    color: #079AEA;
}

ul.b {
    list-style-type: none;
    padding-left: 10px;
    margin-left: 0px;
}

#labelSpan {
    float: right;
    color: #1A4A69;
    margin-right: 5px;
}

ul.b li span {
    font-size: 12px;
    color: white;
    vertical-align: middle;
}

ul.b li {
    /*
     * We want the bullets outside of the list,
     * so the text is aligned. Now the actual bullet
     * is outside of the list’s container
     */
    vertical-align: middle;
    margin-left: 0px;
    list-style-type: square;
    list-style-position: outside;
    font-size: 28px;
    ;
    color: #079AEA;
    /*
     * Because the bullet is outside of the list’s
     * container, indent the list entirely
     */
    margin-left: 1em;
}

#features {
    text-align: center;
}

#features img {
    margin: 0 0 20px;
}

#inputMessage {
    margin-bottom: 15px;
}

footer {
    background: #333;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.well .page-header {
    margin-top: 0;
}

.well .page-header h1 {
    margin-top: 0;
}

ul.unstyled {
    list-style: none;
    padding: 0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchInput {
    width: 200px;
}


/* --------------------------------------
   Carousel
   -------------------------------------- */


/*.carousel, .item, .active {
height:400px;
}*/

.carousel-inner {
    height: auto;
}

.carousel {
    height: auto;
    width: auto;
}


/*

.carousel-caption {
	font-size:1vw;
	
	 left: 10px;
    right: auto;
    background-color: black;
    opacity: 0.6;
    text-align: left;
    padding: 10px;
    height: 38%;
    width: 45%;
}



.item{
	height: 10%;
}
*/

.content {
    border-width: 0;
    border-right-width: 1px;
    border-style: solid;
    border-color: white;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#thumbnail1 {
    background-color: white;
    background: transparent;
}

#thumbnail2 {
    background-color: white;
    background: transparent;
}

#thumbnail3 {
    background-color: white;
    background: transparent;
}

.carousel-caption {
    left: 10px;
    right: auto;
    background-color: black;
    opacity: 0.6;
    text-align: left;
    padding: 10px;
}

.item {
    height: 400px;
}


/*
.carousel{
   height: 400px;
	width: auto;

}
*/

.h4_color {
    color: #049FF2;
}

.carousel-indicators {
    right: 20px;
    left: auto;
    width: 50px;
}

.carousel-indicators li {
    background-color: #079AEA;
}

.carousel-indicators .active {
    background-color: green;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

@media (max-width: 1250px)  {
   .collapse {
       display: none !important;
   }
}


@media (max-width: 1200px) {
    
    .custom_main_menu li a {
        padding: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
  .navbar .divider-vertical {
        height: 0px;
        margin: 0;
        padding: 0;
        border-left: 0px solid #079AEA;
    }
    
    
    #myCarousel .item {
        height: 310px;
    }
    #slide1 {
        background: url('../../images/carousel_large_01.jpg') top center no-repeat;
    }
    #slide2 {
        background: url('../../images/carousel_large_02.jpg') top center no-repeat;
    }
    #slide3 {
        background: url('../../images/carousel_large_03.jpg') top center no-repeat;
    }
}


/* Portrait & landscape phone */

@media (max-width: 480px) {
    .content {
        border-width: 0px;
    }
    /*	#indexDetails{
	
		height:auto;
	}
	
	#mainBody{
		background-color:black;
	
	}*/
    .custom_logo {
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 0px;
    background: url(../../images/logo_small.png) no-repeat;
}
    
    
    .navbar .divider-vertical {
        height: 0px;
        margin: 0;
        padding: 0;
        border-left: 0px solid #079AEA;
    }
    .custom_nav_items_border {
        margin-bottom: 0;
        margin-top: 0;
    }
    #navBar {
        background-color: black;
    }
    .carousel-caption {
        font-size: 8px;
    }
    .h4_color {
        font-size: 12px;
    }
}

.set_body_height {
    height: 2000px;
}

.left-side {
    float: none;
    border: 0px solid;
    border-left-width: 1px;
    border-color: white;
}


/* Landscape phone to portrait tablet */

@media (max-width: 768px) {
   
    .content {
        border-width: 0px;
    }
    .navbar .divider-vertical {
        height: 0px;
        margin: 0;
        padding: 0;
        border-left: 0px solid #079AEA;
    }
    .custom_nav_items_border {
        margin-bottom: 0;
        margin-top: 0;
    }
    #navBar {
        background-color: black;
    }
    #myCarousel .item {
        height: 310px;
    }
    #slide1 {
        background: url('../../images/carousel_small_01.jpg') top center no-repeat;
    }
    #slide2 {
        background: url('../../images/carousel_small_02.jpg') top center no-repeat;
    }
    #slide3 {
        background: url('../../images/carousel_small_03.jpg') top center no-repeat;
    }
    #searchForm {
        margin-left: 0;
    }
}

@media (min-width: 800px) {
    
    .custom_main_menu li a {
        padding: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    #myCarousel .item {
        height: 310px;
    }
    #slide1 {
        background: url('../../images/carousel_large_01.jpg') top center no-repeat;
    }
    #slide2 {
        background: url('../../images/carousel_large_02.jpg') top center no-repeat;
    }
    #slide3 {
        background: url('../../images/carousel_large_03.jpg') top center no-repeat;
    }
}

@media (max-width: 800px) {
   
    #myCarousel .item {
        height: 310px;
    }
    #slide1 {
        background: url('../../images/carousel_large_01.jpg') top center no-repeat;
    }
    #slide2 {
        background: url('../../images/carousel_large_02.jpg') top center no-repeat;
    }
    #slide3 {
        background: url('../../images/carousel_large_03.jpg') top center no-repeat;
    }
}


/* Large desktop */

@media (min-width: 1400px) {
    html,
    body {
        height: auto;
    }
    #myCarousel .item {
        height: 500px;
    }
    #slide1 {
        background: url('../../images/carousel_large_01.jpg') top center no-repeat;
    }
    #slide2 {
        background: url('../../images/carousel_large_02.jpg') top center no-repeat;
    }
    #slide3 {
        background: url('../../images/carousel_large_03.jpg') top center no-repeat;
    }
}


}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000;
    /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: red;
    /*BACKGROUND color for active*/
    
    background-color: #030033;
}
.navbar-default {
    background-color: #0f006f;
    border-color: #030033;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;
    /*change color of links in drop down here*/
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: none;
    /*Change rollover cell color here*/
}
.navbar-default .navbar-nav > li > a {
    color: red;
    /*Change active text color here*/
}
.search {
    padding: 8px 15px;
    background: rgba(50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;
}
.button {
    position: relative;
    padding: 6px 15px;
    left: -8px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
}
.button:hover {
    background-color: #fafafa;
    color: #207cca;
}
.custom-inner-article h1,
.custom-inner-article h2,
.custom-inner-article h3,
.custom-inner-article h4 {
    color: #079AEA;
}
.custom-inner-article p {
    color: #000;
}
.custom-inner-article img {
    color: #fff;
}
.custom-inner-article .innerImages {
    display: block;
    background: #fff;
    padding: 10px;
    border-radius: 2px;
    border: #ddd solid thin;
    color: #000;
}
.innerpage {
    background: #fff;
    padding: 20px;
    padding-top: 120px;
    border: solid rgba(0, 0, 0, 0.3) thin;
    box-shadow: 0 0 10px -2px #000;
}
.custom-people .custom-people-item {
    min-height: 100px;
}
.custom-people .custom-people-image {
    position: relative;
    height: 80px;
    margin-right: 20px;
}